<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<permission android:name="vn.training.books.BIND" android:protectionLevel="signature"/><uses-permission android:name="vn.training.books.BIND"/>
<application android:theme="@style/DemoTheme" android:label="vn.training.books.server" android:allowBackup="false" >
<activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
<service android:name=".BookService" android:exported="true" android:permission="vn.training.books.BIND" android:process=":books"/>
</application></manifest>
