<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="vn.training.books.BIND"/><queries><package android:name="vn.training.books.server"/></queries>
<application android:theme="@style/DemoTheme" android:label="vn.training.books.client" android:allowBackup="false" >
<activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>

</application></manifest>
